---
import BasicLayout from "../../layouts/BasicLayout.astro";
import { type PageInsert } from "../../lib/models/types";
import { db } from "../../lib/drizzle";
import { pages } from "../../lib/models/schema";
import PageForm from "../../components/Page/PageForm.astro";
import { eq } from "drizzle-orm";
import PageList from "../../components/Page/PageList.astro";
import BlockList from "../../components/Page/BlockList.astro";

const possibleLayouts = ["FullWidth"];
const { pageId } = Astro.params;
const request = Astro.request;

const page = (await db.select().from(pages).where(eq(pages.id, Number(pageId || 0))).execute())[0];
if (page === undefined) {
    return Astro.redirect("new");
}
---
<BasicLayout>
    <div class="flex">
        <PageList></PageList>
        <PageForm {...page }/>
        <BlockList pageId={page.id} zone="main"></BlockList>
    </div>
</BasicLayout>