---
import BasicLayout from "../../layouts/BasicLayout.astro";
import PageList from "@components/Page/List/index.astro";

//hx-get={`/partials/PageEntry?id=${p.id}`}
---
<BasicLayout>
    <div class="flex">
        <PageList></PageList>
        <div id="page-outlet"></div>
    </div>
</BasicLayout>