---
import BasicLayout from "../../layouts/BasicLayout.astro";
import { db } from "../../lib/drizzle";
import { type Page } from "../../lib/models/types"; 
import { pages } from "../../lib/models/schema";

const pageData = (await db.select().from(pages).execute());


---
<BasicLayout>
    <div id="page-list">
        <span>List of Pages</span>
        {pageData.map(p => (
            <li>
                <a href={`/pages/${p.id}`} hx-get={`/partials/PageEntry?id=${p.id}`}>Go to Page {p.id}</a>
                <span>Title: {p?.title}</span>
            </li>
        ))}
    </div>
    <div id="page-outlet"></div>
</BasicLayout>