---
import BasicLayout from "../../layouts/BasicLayout.astro";
import PageForm from "../../components/Page/PageForm.astro";
import PageList from "../../components/Page/PageList.astro";

---
<BasicLayout>
    <div class="flex">
        <PageList></PageList>
        <PageForm id={undefined} title={undefined} description={undefined} layout={undefined}/>
    </div>
</BasicLayout>